* {
   padding: 2px;
   margin: 0 auto;
    
}
.head1 {
    font-size: 77px;
    font-weight: 900;
    text-decoration: none;
    color: green;    
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: unset;
    background-size:23px;
    text-align: center;
    background-color: greenyellow
    
}

.button {
    border: solid;
    border-radius: 800px;
    color: white;
    background-color: #333; 
    text-align: center;
   
}

.button:hover {
    color: grey;

}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}


a {
    text-decoration: none;
    color: blueviolet;
    
}

a:hover {
    cursor: pointer;
    color: greenyellow;
    
}

.check {
    font-size: 20px;
    padding: 10px;
}


